.link {
    color: #0366d6;
    text-decoration: 1px solid underline transparent;
}

.md-container .link:hover {
    text-decoration: 1px solid underline #0366d6;
}

.md-container ul {
    list-style: disc;
    padding-left: 2rem;
}

.md-container ol {
    list-style: decimal;
    padding-left: 2rem;
}